<launch>
  <node pkg="choreonoid_joy" name="choreonoid_joy" type="node" />
  <node pkg="choreonoid_ros" name="choreonoid" type="choreonoid"
args="$(find jaea_uoa_ros)/project/SG2-HobbyDroneVer3_ROS.cnoid --start-simulation"/> 
<!-- <node name="image_view" pkg="rqt_image_view" type="rqt_image_view"/> -->
</launch>
