<launch>
  <node pkg="choreonoid_joy" name="choreonoid_joy" type="node" />
  <node pkg="choreonoid_ros" name="choreonoid" type="choreonoid" 
        args="$(find jaea_uoa_ros)/project/TS3-Spider_ROS.cnoid --start-simulation"/> 
  <include file="$(find large_scale_spider_description)/launch/display.launch">
  </include>
</launch>